@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0b0f19] text-white font-sans;
  }

  h1, h2, h3 {
    @apply font-bold text-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gradient-to-r from-[#00b4d8] to-[#9d4edd] text-white px-4 py-2 rounded-lg shadow-lg hover:opacity-90 transition;
  }
}
